.custom-select-container {
    position: relative;
    width: 200px;
    cursor: pointer;
    user-select: none;
  }
  
  .select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 10px 15px;
    background: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    color: var(--text-primary);
  }
  
  .lang-icon {
    width: 20px;
    height: 20px;
  }
  
  .select-options {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .select-options li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    transition: background 0.2s;
  }
  
  .select-options li:hover {
    background: var( --bg-tertiary); /* Cor de destaque ao passar o mouse */
  }
  
  .select-options li.active {
    background: var(--primary-color-transparent);
    font-weight: bold;
  }